<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.moskv1.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/python3</string>
        <string>/Users/borjafernandezangulo/30_BABYLON-60/babylon60/extensions/training/run_daemon.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/borjafernandezangulo/30_BABYLON-60</string>
    <key>StandardOutPath</key>
    <string>/Users/borjafernandezangulo/.babylon60/training/daemon_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/borjafernandezangulo/.babylon60/training/daemon_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/borjafernandezangulo/30_BABYLON-60</string>
    </dict>
</dict>
</plist>
