[submodule "docs/aie-book"]
	path = docs/aie-book
	url = https://github.com/chiphuyen/aie-book.git
[submodule "babylon60-ide/src-tauri/moskv-1-apex"]
	path = babylon60-ide/src-tauri/moskv-1-apex
	url = https://github.com/borjamoskv/moskv-1-apex.git
[submodule "cortex/moskv-swarm"]
	path = cortex/moskv-swarm
	url = https://github.com/borjamoskv/moskv-swarm.git
[submodule "audit/openclaw-test-bounty"]
	path = audit/openclaw-test-bounty
	url = https://github.com/borjamoskv/openclaw-test-bounty.git
[submodule "extensions/smoke-detector-extension"]
	path = extensions/smoke-detector-extension
	url = https://github.com/borjamoskv/smoke-detector-extension.git
